* {
    margin: 0;
    padding: 0;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.weather {
    max-width: 4750px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0,0,0, 0.5);
    background-image: linear-gradient(0deg, #201e85, transparent);
    color: #fff;
    margin: 100px auto 0;
    text-align: center;
    margin-bottom: 5em;
}


.weather__body  {
    display: flex;
    justify-content: space-between;
}

.weather__info {
    margin: 1em;
}

.wather__info__tittle {
    padding-bottom: 1em;
    margin: 1em;
}


.weather__footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}

.weather__temp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.weather__btn {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10% 20px;
    color: #000000;
    cursor: pointer;
    box-shadow: 0 0 5px #ffffff, 0 0 25 #bac5cc;
}

.weather__btn:hover {
    box-shadow: 0 0 10px #ffffff;
}


@media screen and (max-width: 523px) {
    .weather{
        background-color: rgb(107, 194, 194);
        height: 500px;
    }

    .weather__img{
        position: absolute;
    }

    .weather__info{
        padding-top: 9em;
    }
    .weather__list{
        font-size: large;
    }

    
 
}